/* style for fake services */

.myServices {
   padding: 20px;
   border: 2px solid #000;
/* width: 25%; */
   width: 60%;
/* margin: 13vw 30vw; */
   margin: 5vw 19vw;
   font-size: 20px;
   background: #0e2352;
   border-radius: 25px;
   color: white;
   box-shadow: 9px 8px #aaa;
}

.businessCardTitle {
   text-align:center;
}

ul {
/* list-style-type:disc; */
   list-style: none;
} 

ul li:before {
 content: '✓';
 margin:0 .25vw;
}

li {
   margin-bottom: 8px;
}